.lime{
    display: flex;
    
}
.t{
    width: 550px;
}
.um{
    display: flex;
    margin-bottom: 40px;
    
}
.um1{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    background-color: #32462f;
    gap: 75px;
}
.m{
    
    width: 600px;
}
.blend{
    display: flex;
    margin-bottom: 40px;
}
.blend1{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    background-color: #d1d1aa;
  
    font-size: 20px;
}
.a{
    margin-left: 150px;
    margin-right: 150px;
    color: #32462F;
}
.v{
    width: 650px;
}
.go{
    display: flex;

}
.go1{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    background-color: #006242;
  
    font-size: 20px;
}
.d{
    margin-left: 150px;
    margin-right: 155px;
    color: white;
    font-size: 24px;
}
.m{
    width: 650px;
}
.x{
    color: white;
    margin-left: 200px;
    margin-right: 250px;
   font-size: 30px;
}